@font-face {
    font-family: 'Croissant One', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Croissant+One&display=swap);
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    color: #3F2424;
}

/*--------------------Version mobile---------------------*/

@media (max-width: 768px) {

    body {
        display: flex;
        flex-wrap: wrap;
    }

    /*-----------------------------COMPTEUR DE PETALES-------------------------------------*/
    .progressionBar {
        background-color: hsl(50, 99%, 67%);
        font-family: 'Croissant One', cursive;
        font-style: bold;
        font-size: 1rem;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .progressionBar p {
        text-align: center;
    }

    .now {
        background-color: hsl(14, 99%, 67%);
        height: 100%;
        width: 10%;
    }

    /*-----------------------------------ZONE DE CLIC JARDIN-----------------------------------*/
    .garden {
        padding: 0px;
        display: block;
        position: relative;
        width: 100vw;
        height: 60vh;
    }

    #imgBack {
        width: 100%;
        height: 100%;
        display: block;
    }

    .flowerBox {
        position: absolute;
        bottom: 14%;
        right: 0;
        z-index: 1;
        width: 90%;
        height: 23%;
    }

    .flower {
        position: absolute;
        top: 20%;
        right: 30%;
        width: 9%;
    }

    /*------------------------------- ZONE DE GIFTS ------------------*/

    .gifts {
        width: 100vw;
        height: 20vh;
        background-color: hsl(192, 30%, 75%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    h2 {
        text-align: center;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }

    .menuGifts {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #gift_1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
        border: #fee257 1px solid;
        box-shadow: 5px 5px 3px #9F9F9f;
        margin-bottom: 1vh;
    }

    .textGifts {
        display: flex;
        flex-direction: column;
    }

    .itemTitle,
    #margueriteCost {
        text-align: center;
    }

    #margueriteCost,
    #margueriteWiki {
        font-size: 2vh;
    }

    .imgContainer {
        padding: 5px;
    }

    #margueriteImg {
        height: 10vh;
    }

    #triangleButton_left {
        height: 0;
        width: 0;
        border-right: 20px solid transparent;
        border-bottom: 20px solid hsl(192, 30%, 30%);
        border-left: 20px solid transparent;
        transform: rotate(270deg);
    }

    #triangleButton_right {
        height: 0;
        width: 0;
        border-right: 20px solid transparent;
        border-bottom: 20px solid hsl(192, 30%, 30%);
        border-left: 20px solid transparent;
        transform: rotate(90deg);
    }

    /*------------------------------- ZONE DU MARKET ------------------*/

    .market {
        width: 100vw;
        height: 20vh;
        background-color: hsl(42, 96%, 80%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 2vw;
        column-gap: 2vw;
        padding: 0 2vw;
    }

    #market-Title {
        grid-column: 1 / span 2;
    }

    .permanentHelpers {
        grid-column: 1 / span 1;
        grid-row: 2 / span 3;
        display: flex;
        flex-wrap: wrap;
        gap: 7%;

    }

    .helper_1 {
        box-shadow: 2px 2px 2px #9F9F9f;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        height: 30%;
    }

    .itemHelper {
        display: flex;
        justify-content: space-around;
    }

    #arrosoirNumber {
        text-align: center;
    }

    h3 {
        font-size: 2vh;
    }

    h3,
    #arrosoirCost {
        padding-left: 0.5vh;
        padding-right: 0.5vh;
    }

    #arrosoirCost,
    #arrosoirNumber {
        font-size: 1.5vh;
    }

}














/*--------------------Version desktop---------------------*/

@media (min-width: 768px) {

    body {
        display: flex;
        flex-wrap: nowrap;
    }

    /*-----------------------------COMPTEUR DE PETALES-------------------------------------*/
    .progressionBar {
        background-color: #fee257;
        padding-top: 0px;
        padding-bottom: 0px;
        font-family: 'Croissant One', cursive;
        font-style: bold;
        font-size: 1rem;
        margin: 0px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .progressionBar p {
        text-align: center;
    }

    /*-----------------------------------ZONE DE CLIC JARDIN-----------------------------------*/
    .garden {
        padding: 0px;
        display: block;
        position: relative;
        width: 60vw;
        height: 100vh;
    }

    #imgBack {
        width: 100%;
        height: 100%;
        display: block;
    }

    .flowerBox {
        position: absolute;
        bottom: 14%;
        right: 0;
        z-index: 1;
        width: 90%;
        height: 23%;
    }

    .flower {
        position: absolute;
        top: 20%;
        right: 30%;
        width: 9%;
    }

    /*------------------------------- ZONE DE GIFTS ------------------*/

    .gifts {
        width: 20vw;
        height: 100vh;
        background-color: hsl(192, 30%, 75%);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    #gift_1,
    #gift_4,
    #gift_2,
    #gift_3,
    #gift_5 {
        border: 1px solid #3F2424;
        height: 116px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
    }

    .textGifts {
        display: flex;
        flex-direction: column;
        padding: 2em;
    }

    #arrowGifts_left {
        display: none;
    }

    #gift_Title {
        height: 116px;
        border: 1px solid #3F2424;
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #gift_1 h3 {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        top: 120px;
        left: 120px;
      }


    h3 {
        display: flex;
        justify-content: center;
    }

    #margueriteCost {
    position: absolute;
    top: 140px;
    LEFT: 100px;
    }

    p#margueriteWiki {
    position: absolute;
    left: 7%;
    top: 24.5%;
    font-size: small;
}

    span {
        text-decoration: underline;
    }
    div.imgContainer {
        width: 75px;
    }

    p#margueriteCost, p#arrosoirCost, p#arrosoirNumber {
        display: flex;
        justify-content: space-evenly;
    }

    img#margueriteImg {
        position: absolute;
        top: 21%;
    }

    /* --------------------- ZONE DU MARKET ----------------------*/
  .market {

        width: 20vw;
        height: 100vh;
        background-color: hsl(42, 96%, 80%);
    }

    .permanentHelpers {
        height: 50%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .permanentHelpers>div {
        border: 1px solid #3F2424;
        border-radius: 20px;
    }

    .helper_1 {
        text-align: center;
    }

    .ponctualHelpers>div {
        border: 1px solid black;
    }
    
}