@font-face {
    font-family: 'Croissant One', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Croissant+One&display=swap);
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    color: #3F2424;
}

h2 {
    font-family: 'Croissant One', cursive;
    font-style: bold;
}

.progressionBar {
    text-align: center;
}

/*--------------------Version mobile---------------------*/

@media (max-width: 768px) {

    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    /*-----------------------------COMPTEUR DE PETALES-------------------------------------*/
    .progressionBar {
        background-color: hsl(50, 99%, 67%);
        font-family: 'Croissant One', cursive;
        font-size: 1rem;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .now {
        background-color: hsl(14, 99%, 67%);
        height: 100%;
        width: 10%;
    }

    /*-----------------------------------ZONE DE CLIC JARDIN-----------------------------------*/
    .garden {
        padding: 0px;
        display: block;
        position: relative;
        width: 100vw;
        height: 60vh;
    }

    #imgBack {
        width: 100%;
        height: 100%;
        display: block;
    }

    .flowerBox {
        position: absolute;
        bottom: 14%;
        right: 0;
        z-index: 1;
        width: 90%;
        height: 23%;
    }

    .flower {
        position: absolute;
        top: 20%;
        right: 30%;
        width: 9%;
    }

    /*------------------------------- ZONE DE GIFTS ------------------*/

    .gifts {
        width: 100vw;
        height: 20vh;
        background-color: hsl(192, 30%, 75%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    h2 {
        text-align: center;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }

    .menuGifts {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plusieursGift {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 30px;
        border: #fee257 1px solid;
        box-shadow: 5px 5px 3px #9F9F9f;
        margin-bottom: 1vh;
        width: 70%;
    }

    .textGifts {
        display: flex;
        flex-direction: column;
        text-align: left;
    }


    span {
        text-decoration: underline;
    }


    #margueriteCost,
    #margueriteWiki,
    #tiareCost,
    #tiareWiki,
    #cosmosCost,
    #cosmosWiki,
    #tulipeCost,
    #tulipewiki {
        font-size: 2vh;
    }

    .imgContainer {
        padding: 5px;
    }

    #margueriteImg,
    #tiareImg,
    #cosmosImg,
    #tulipeImg {
        height: 10vh;
    }

    #triangleButton_left {
        height: 0;
        width: 0;
        border-right: 20px solid transparent;
        border-bottom: 20px solid hsl(192, 30%, 30%);
        border-left: 20px solid transparent;
        transform: rotate(270deg);
    }

    #triangleButton_right {
        height: 0;
        width: 0;
        border-right: 20px solid transparent;
        border-bottom: 20px solid hsl(192, 30%, 30%);
        border-left: 20px solid transparent;
        transform: rotate(90deg);
    }

    /*------------------------------- ZONE DU MARKET ------------------*/

    .market {
        width: 100vw;
        height: 20vh;
        background-color: hsl(42, 96%, 80%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 2vw;
        column-gap: 2vw;
        padding: 0 2vw;
    }

    #market-Title {
        grid-column: 1 / span 2;
    }

    .helper {
        box-shadow: 4px 4px 2px #9F9F9f;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        border: #3F2424 1px solid;
        margin-bottom: 2%;
    }

    .itemHelper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        font-size: 2vh;
    }

    .cost,
    .number {
        font-size: 1.5vh;
    }

}


/*--------------------Version desktop---------------------*/

@media (min-width: 768px) {

    body {
        display: flex;
        flex-wrap: nowrap;
    }


    h2 {
        font-size: 2rem;
    }

    /*-----------------------------COMPTEUR DE PETALES-------------------------------------*/
    .progressionBar {
        background-color: #fee257;
        padding-top: 0px;
        padding-bottom: 0px;
        font-family: 'Croissant One', cursive;
        font-style: bold;
        font-size: 1rem;
        margin: 0px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .progressionBar p {
        text-align: center;
    }

    /*-----------------------------------ZONE DE CLIC JARDIN-----------------------------------*/
    .garden {
        padding: 0px;
        display: block;
        position: relative;
        width: 60vw;
        height: 100vh;
    }

    #imgBack {
        width: 100%;
        height: 100%;
        display: block;
    }

    .flowerBox {
        position: absolute;
        bottom: 14%;
        right: 0;
        z-index: 1;
        width: 90%;
        height: 23%;
    }

    .flower {
        position: absolute;
        top: 20%;
        right: 30%;
        width: 9%;
    }

    /*------------------------------- ZONE DE GIFTS ------------------*/

    .gifts {
        width: 20vw;
        background-color: hsl(192, 30%, 75%);
    }

    #gift_Title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 116px;
    }

    .plusieursGift {
        border: 1px solid #3F2424;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
    }

    .imgContainer,
    .textGifts {
        margin: 2%;
    }

    .imageGift {
        width: 50px;
        height: 50px;
    }

    #arrowGifts_left,
    #arrowGifts_right {
        display: none;
    }

    span {
        text-decoration: underline;
    }

    /* --------------------- ZONE DU MARKET ----------------------*/
    .market {
        width: 20vw;
        background-color: hsl(42, 96%, 80%);

    }

    #market-Title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #market-Title {
        height: 116px;
        display: flex;
        align-items: center;
    }

    .helper {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #3F2424;
        justify-content: center;
        border-radius: 20px;
        height: 15%;
    }

    .itemHelper {
        text-align: center;
    }

}